<div class="container">
  <br>
  <h1>Pipes</h1>
  <hr>
  <table class="table">
    <thead class="thead-inverse">
    <tr>
      <th>Variable</th>
      <th>Pipe</th>
      <th>Producto</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ nombre }}</td>
      <td>uppercase</td>
      <td>{{ nombre | uppercase }}</td>
    </tr>
    <tr>
      <td>{{ nombre }}</td>
      <td>lowercase</td>
      <td>{{ nombre | lowercase }}</td>
    </tr>
    <tr>
      <td>{{ nombre }}</td>
      <td>slice: 3</td>
      <td>{{ nombre | slice:3 }}</td>
    </tr>
    <tr>
      <td>{{ nombre }}</td>
      <td>slice: 0: 3</td>
      <td>{{ nombre | slice:0:3 }}</td>
    </tr>
    <tr>
      <td>{{ arrayData }}</td>
      <td>slice: 0: 3</td>
      <td>{{ arrayData | slice:0:3 }}</td>
    </tr>
    <tr>
      <td>{{ PI }}</td>
      <td>number: '1.0-2'</td>
      <td>{{ PI | number: '1.0-2'}}</td>
    </tr>
    <tr>
      <td>{{ a }}</td>
      <td>percent: '2.2-4'</td>
      <td>{{ a | percent:'2.2-4'}}</td>
    </tr>
    <tr>
      <td>{{ salario }}</td>
      <td>currency</td>
      <td>{{ salario | currency}}</td>
    </tr>
    <tr>
      <td>{{ salario }}</td>
      <td>currency: 'EUR'</td>
      <td>{{ salario | currency:'EUR':'symbol':'4.0-2'}}</td>
    </tr>

    <tr>
      <td>{{ valorPromesa }}</td>
      <td>async</td>
      <td>{{ valorPromesa | async }}</td>
    </tr>

    <tr>
      <td>{{ fecha }}</td>
      <td>Date</td>
      <td>{{ fecha | date }}</td>
    </tr>

    <tr>
      <td>{{ fecha }}</td>
      <td>Date:"medium"</td>
      <td>{{ fecha | date:'medium' }}</td>
    </tr>

    <tr>
      <td>{{ fecha }}</td>
      <td>Date:"MMMM - dd"</td>
      <td>{{ fecha | date:'MMMM - dd' }}</td>
    </tr>

    <tr>
      <td>{{ nombre2 }}</td>
      <td>Capitalizado</td>
      <td>{{ nombre2 | capitalizado }}</td>
    </tr>

    <tr>
      <td>{{ nombre2 }}</td>
      <td>Capitalizado:false</td>
      <td>{{ nombre2 | capitalizado:false }}</td>
    </tr>

    <tr>
      <td>{{ contrasenia }}</td>
      <td>password: {{mostrarPassword}} <br>
        <a class="text-success font-weight-bold" style="cursor: pointer" (click)="mostrarPassword = !mostrarPassword">Mostrar password</a>
      </td>
      <td>{{ contrasenia | password:mostrarPassword }}</td>
    </tr>

    </tbody>
  </table>

  <h4>Slice</h4>
  <ul>
    <li *ngFor="let item of arrayData | slice:2:20">{{item}}</li>
  </ul>

  <h4>JSON</h4>
  <pre>{{heroe | json}}</pre>

  <h4>Video Youtube</h4>
  <hr>
  <iframe width="560" height="315" [src]="video | domseguro:'https://www.youtube.com/embed/'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

